*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 30rem;
    
}
.container h1{
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    background-color: blue;
    border-radius: 10px 10px 0 0;
    color: white;
}
.time{
    font-size: 4rem;
    text-align: center;
    padding: 20px;
}