*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, #08203e, #557c93);
    color: white;
    display: grid;
    place-items: center;
}
.container{
    width: 80%;
    max-width: 850px;
    padding: 30px;
    text-align: center;
    display: none;
}
.container h1{
    font-size: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;

}
.container .question{
    font-size: 26px;
    margin-top: 20px;

}
.container .choices{
    margin-top: 20px;

}
.choice{
    font-size: 20px;
    background-color: #eee;
    color: #000;
    margin: 10px auto;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    width: 60%;
    transition: 0.5s;
}
.choice:hover{
    background-color: #c5c5c5;
}
.nextBtn{
    padding: 10px;
    font-size: 30px;
    width: 12rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.nextBtn:hover{
    background-color: #08203e;
    color: white;
    outline: none;
    border: none;
}
.choice.selected{
    background-color: #08780c;
    color: white;
}

.scoreCard{
    font-size: 24px;
    margin-top: 20px;

}
.alert{
    background-color: #6fad4b;
    border-radius: 5px;
    width: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: absolute;
    top: 0;
    font-size: 25px;
}

.startBtn {
    width: 15%;
    padding-block: 20px;
    background-color: green;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    cursor: pointer;
    letter-spacing: 5px;
    transition: 0.5s;
}
.startBtn:hover{
    background-color:rgb(89, 153, 89);
}
.timer{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    background-color: #08203e;
    font-size: 30px;
    font-weight: 600;
    border: 2px solid red;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}