*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --primary: #1976d2;
    --light: #f6f6f9;
--light-primary: #cfe8ff;
--grey: #fff;
--dark-grey: #aaaaaa;
--dark: #363949;
--danger: #d32f2f;
--light-danger: #fecdd3;
--warning: #fbc02d;
--light-warning: #fff2c6;
--success: #388e3c;
--light-success:#bbf7d0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light); 
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--grey);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    overflow-x: hidden;
}
.container h1{
    padding: 2rem 0;
    font-size: 4rem;
    text-align: center;
    color: var(--dark);
}


.error_message1{
    background-color: var(--danger);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    display: none;
}
.error_message2{
    background-color: var(--danger);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    display: none;
}


.budget_content{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.budget form input,
.expenses form input{
    padding: 0.4rem 1rem;
    width: 300px;
    border: 1px solid #ddd;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 3px;
}
.budget form input:focus,
.expenses form input:focus{
    outline: none;
}

.budget form ,
.expenses form{
    position: relative;
} 
.budget_content .btn{
   position: absolute;
   right: 0;
   outline: none;
   border: none;
   padding: 0.6rem 1rem;
   color: var(--light);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: var(--dark);
}
.budget_content .btn:active{
    transform: scale(0.98);
}

.container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px , 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.container .cards li{
    padding: 1.8rem;
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.container .cards li:hover{
    transform: translateX(-10px);
}
.container .cards li i{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .cards li:nth-child(1) i{
    background-color: var(--light-primary);
    color: var(--primary);
}
.container .cards li:nth-child(2) i{
    background-color: var(--light-warning);
    color: var(--warning);
}
.container .cards li:nth-child(3) i{
    background-color: var(--light-success);
    color: var(--success);
}

.container .cards li .info h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
}
.container .cards li .info p{
    font-size: 2rem;
    color: var(--dark);
    padding: 5px;
}
.tbl_content{
    padding: 2rem;
    background-color: var(--light);
    margin: 1rem 2rem;
    border-radius: 5px;
}
.tbl_content h3{
    font-size: 2rem;
    margin: 1rem 0;
}
.tbl_tr_content{
    display: grid;
    grid-template-columns: 1fr 50% 30% 2fr;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.tbl_data{
    overflow-y: auto;
    height: 150px;
}
.tbl_tr_content button{
    outline: none;
    border: none;
    color: var(--light);
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--danger);
    transition: all 0.5s ease-in;
    width: 4rem;
}
.tbl_tr_content button:hover{
    transform: scale(0.98);
}
.tbl_tr_content button:first-child{
    background-color: var(--success);
}