* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 30rem;
    padding-bottom: 20px;
}
.container h1{
    display: block;
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.container input{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}