*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border-radius: 10px;
    padding: 20px;
    width: 50rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: white;
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
#QRInput{
     display: block;
    width: 60%;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
}
#QRBtn{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(199, 184, 184);
    transition: all 0.5s ease-in;
}
#QRBtn:hover{
    transform: scale(1.05);
}

#QRImage{
    display: block;
    width: 35%;
    margin: 0 auto;
    padding: 20px;
}