* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
.container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
  color: #222;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
label {
  margin: 6px;
  color: #333;
  font-weight: 500;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}
input.eror {
  border-color: #dc3545;
}
.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 5px;
  display: block;
}
button[type="submit"] {
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
  max-width: 300px;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
a {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
