*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("https://www.revolt.tv/article/media_156271a16225cd389e25287d539dc7a71f6d27cf9.jpeg?width=1920&format=webp&optimize=high");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
.section2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("https://www.revolt.tv/article/media_1db004733f03e1fabdfce0668f4ce38af96149551.jpeg?width=1920&format=webp&optimize=high");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
.section3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("https://www.revolt.tv/article/media_179fdcb6e9102b5e20396ad1b97d5151de8c12830.jpeg?width=1920&format=webp&optimize=high");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
.section4{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("https://www.revolt.tv/article/media_1b307d4ac60bdee9b5915ec71c1add89c25112d12.jpeg?width=1920&format=webp&optimize=high");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
.section5{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("https://www.revolt.tv/article/media_1f71dd418513be4381f3b98f783189735a462fd88.jpeg?width=1920&format=webp&optimize=high");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: grid;
    place-items: center;
    text-align: center;
    background-attachment: fixed;
}
h2{
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}
p{
    font-size: 20px;
    color: #fff;
}