*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d4444;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0 ,0,0,0.1);
    padding: 24px 30px;
    text-align: center;
}
.container h1{
    font-size: 3rem;
    margin-bottom: 20px;
    text-decoration: underline;    
 
}
.container input{
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
}
.container select{
    font-size: 20px;
    border-radius: 10px;
    padding: 6px;
    background-color: #1d4444;
    color: white;
}
.container svg{
        width: 5rem;
    margin: 20px;
}
#result{
    margin-top: 20px;
    font-size: 20px;
}