*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;

}
.container h1{
    padding: 20px;
    color: blue;
    text-align: center;
    font-size: 3rem;
}
.container input{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container button{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.container button:hover{
    transform: scale(1.05);
}
.container p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}