*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .boxes{
    display: flex;
    gap: 7rem;
    width: 40rem;
}
.container .boxes p{
    font-size: 25px;
}
.container .boxes .coodinatesX,
.container .boxes .coodinatesY{
    border-radius: 10px;
    border: 2px solid black;
    padding: 3rem;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}