*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 30rem;
    
}
.container h1{
    padding: 20px;
    text-align: center;
    font-size: 3rem;
}
.container p{
       text-align: center;
       font-size: 20px;
       padding: 10px;
}
.container input{
    width: 70%;
    display: flex;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
}
.container button{
    width: 30%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s ease-in;
}
.container button:hover{
    transform: scale(1.05);
}
span{
    color: red;
    font-size: 30px;
}