*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .input input{
    font-size: 20px;
    padding: 10px;
    width: 20rem;
    border-radius: 10px;

}
.container .output{
    font-size: 25px;
}