*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 30rem;
}
.container h1{
    background-color: blue;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    border-radius:10px 10px 0 0 ;
}

.container .timer{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}
.container .buttons{
    display: flex;
    gap: 3rem;
    padding: 20px;
}
.container .buttons button{
    font-size: 20px;
    padding: 7px;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.container .buttons button:hover{
    transform: scale(1.05);
}
.container .buttons button:nth-child(1){
    background-color: blue;
    color: white;
}
.container .buttons button:nth-child(2){
    background-color: red;
    color: white;
}
.container .buttons button:nth-child(3){
    background-color: green;
    color: white;
}
